/* Base Styles -------------------- */
body {
  padding: 0;
  margin:0;
  font-family: 'Love Ya Like A Sister', sans-serif;
  color: white;
  background-image: url("Halloween.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: 'Cinzel', sans-serif;
  width: 100%;
  color: black;
  display: flex;
  font-weight: bold;
  justify-content: center;
  text-transform: uppercase;
  background-color: white;
  opacity:0.5;
  margin: auto;
  margin-bottom: .3em;
  padding-top: .5em;
  padding-bottom: .5em;
}
.main-header {
  flex-wrap: wrap;
}
h2{
  display: flex;
  width: 90%;
  justify-content: center;
  font-size: 1.3em;
  margin: auto;
  padding-top: .5em;
  padding-bottom: .3em;
  }
.mainp {
  text-align: center;
  width: 90%;
  margin: auto;
  padding-top: .3em;
  padding-bottom: .1em;
  font-size: 1em;
  border-bottom: solid 2.5px;
}
.mainp::after {
  content: '';
  border-top: 1px solid;
  display: block;
  width: 100%;
  margin-top: 1em;
}
#name,
#email,
#phone,
#address,
#city {
  height: 36px;
  border-radius: 10px;
  margin-top: .5em;
  margin-bottom: .5em;
  width: 99%;
}
#zip {
  display:grid;
  height: 36px;
  border-radius: 10px;
  margin-top: .5em;
  margin-bottom: .5em;
  width: 50%;
}
#name::placeholder {
  font-family: 'Cinzel', sans-serif;
  color: black;
  opacity:1;
  }
#email::placeholder {
  font-family: 'Cinzel', sans-serif;
  color: black;
  opacity:1;
}
select {
  height: 3em;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 99%;
}
.list > label {
  padding-bottom: .3em;
}
.list {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-direction: column;
  border: none;
}
.list input:focus {
  background: #ff9b05;
}
.list select:focus {
  background: #ff9b05;
}
.contact {
  font-size: 1.3em;
  padding-top: 1em;
}
.newsletter {
  width: 100%;
  border-top: solid;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 1em;
}
.wrap2 {
  display:flex;
  flex-direction: column;
}
.list2 {
  border: none;
}
.html,
.css,
.java {
  border-radius: 10px;
  line-height: 2.3em;
}
h3 {
  font-weight: normal;
  font-size: 1em;
}
h4 {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 1em;;
  margin-bottom: 1em;
}
.radiob {
  display: flex;
  flex-direction: column;
  line-height: 2.3em;
  padding-bottom: .8em;
}
.othertopic {
  margin-top: .5em;
  margin-bottom: .7em;
  font-size: 1em;
  font-weight: normal;
}
textarea {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.7em;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  resize: none;
}
textarea:focus {
  background: #ff9b05;
  color: white;
}
button {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Love Ya Like A Sister', sans-serif;
  padding: 19px 39px 19px 39px;
  color: white;
  background-color: #ff9b05;
  font-size: 1.3em;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  border: 1px solid;
  border-width: 1px;
  margin-bottom: 10px;
}

.copyright {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-bottom: 7em;
  border: none;
  padding-top: 1em;
}
/* Media Queries --------------------*/

@media (min-width: 768px) {

form {
  width: 65%;
  margin: auto;
}
h2 {
  font-size: 1.7em;
}
.main-header {
  margin: auto;
  width: 65%;
  margin-top: 1.5em;
}
.mainp {
  width:100%;
}
.list,
.list2 {
  padding-left: 0;
  padding-right: 0;
}
.insidelist {
  display: flex;
  display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}
.insidelist input,
select {
  flex: 1;
	-webkit-flex: 1;
}
.insidelist label {
  padding-top: 1em;
  width: 30%;
}
#zip {
  max-width: 30%;
}
.newsletter {
  margin-left: 0;
}
button {
  transition: ease-in-out 1s ease-in-out;
}
button:hover {
  background-color: #ffc266;
}
}
